{% extends 'base.html.twig' %}

{% block body %}
    {% if editMode %}

        <h1>Modifier</h1>

    {% else %}
    
        <h1>Ajouter</h1>
    
    {% endif %}
    
    {{form(form)}}

    <a href="{{ path('atelier_index') }}">Liste des ateliers</a>
{% endblock %}
