{% extends 'base.html.twig' %}

{% block body %}

    <h1>Atelier</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ atelier.programmer.nomCategorie }}</td>
            </tr> 
            <tr>
                <th>Atelier</th>
                <td>{{ atelier.nomAtelier }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('atelier_index') }}">Liste des ateliers</a>
{% endblock %}