{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit Formation</h1>

    {{ include('formation/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formation_index') }}">Liste des formations</a>

    {{ include('formation/delete_form.html.twig') }}
{% endblock %}