<h1>Descriptif de formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nomFormation }}</td>
            </tr>
           
            
        </tbody>
    </table>