{% extends 'base.html.twig' %}


{% block body %}
    <h1>Entrer une nouvelle formation </h1>

    {{ include('formation/form.html.twig') }}

    <a href="{{ path('formation_index') }}">Liste des formations</a>
    
{% endblock %}
