{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Entrer une nouvelle formation </h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Liste des formations</a>
    
{% endblock %}
