{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit Stagiaire</h1>

    {{ include('stagiaire/form.html.twig', {'button_label': 'Update'}) }}


    <a href="/" class="card-link">Ajouter ateliers</a>

    <a href="{{ path('stagiaire_index') }}">back to list</a>

    {{ include('stagiaire/delete_form.html.twig') }}
{% endblock %}
