{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit Stagiaire</h1>

    {{ include('stagiaire/form.html.twig') }}


    <a href="{{ path('stagiaire_index') }}">Liste des stagiaires</a>
{% endblock %}
