{% block body %}

    <form method="post" action="{{ path('categorie_delete', {'id': salle.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette salle?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.id) }}">
        <button class="btn btn-danger">Effacer</button>
    </form>
{% endblock %}