{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit Salle</h1>

    {{ include('salle/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('salle_index') }}">back to list</a>

{% endblock %}
