{% extends 'base.html.twig' %}


{% block body %}
    <h1>Créer nouvelle salle</h1>

    {{ include('salle/form.html.twig') }}

    <a href="{{ path('salle_index') }}">Liste des salles</a>

{% endblock %}
