{% extends 'base.html.twig' %}

{% block body %}

    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Categorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>

            {# <tr>
                <th>Ateleiers</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr> #}

        </tbody>
    </table>
{% endblock %}