{% extends 'base.html.twig' %}

{% block body %}

    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Categorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">Liste des catégories</a>
{% endblock %}